@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap");
.nav-custom {
  background-color: #fff9c4;
}
.navbar-brand img {
  max-width: 150px;
  width: 100%;
}
.burger-menu {
  color: #000000;
}
.nav-link:hover {
  color: #888888;
  text-decoration: none;
}


.nav-link {
  font-weight: 600;
  color: #000000;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-link:focus {
  box-shadow: none;
}
.dropdown > .dropdown-menu {
  background-color: #fff;
  border: none;
  border-radius: 0;
}
.lni-grid-alt {
  font-size: 1.5rem;
}
.lni-cross-circle {
  font-size: 2rem;
}
#welcome {
  background-color: aliceblue;
  color: gray;
}
@media (min-width: 992px) {
  .dropdown > .dropdown-menu {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    display: block;
    transition: all 0.3s ease-in-out;
  }
  .dropdown:hover > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
  }
  .dropdown-item:hover {
    color: #fff;
    background-color: black;
  }
}