@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap");
.global_feature_section{
.carousel-item {
  position: relative;
  height: 500px;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 300px;
  }

  .carousel-caption h1 {
    font-size: 1rem;
  }

  .carousel-caption h3 {
    font-size: 0.5rem;
  }

  .carousel-caption button {
    font-size: 0.9rem;
    padding: 12px 25px;
  }
}

.carousel-caption button {
  border: none;
  background-color: #000000;
  color: #fff;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin-top: 20px;
}

.carousel-caption button:hover {
  background-color: #13121284;
  transform: scale(1.1);
}
}