  .global_myTalent{
  header {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 30px;
    font-weight: bold;
  }
  
  h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .intro {
    font-size: 1.2em;
    margin-top: 10px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Brief Description Section */
  .description-section {
    background-color: #fff305;
    padding: 40px;
    margin: 20px 0;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .description-section h2 {
    font-size: 2em;
    color: #333;
  }
  
  .description-section p {
    font-size: 1.1em;
    color: #777;
    line-height: 1.6;
  }
  
  /* Card Container */
  .card-container {
    display: flex;
    justify-content: space-around;
    margin: 40px;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.674);
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 15px;
  }
  
  h3 {
    font-size: 1.5em;
    color: #333;
  }
  
  p {
    font-size: 1.1em;
    color: #777777ea;
  }
  
  .MyButton {
    background-color: #fff305;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 10px;
  }
  
  .MyButton:hover {
    background-color: #000000;
    color:white
  }
}