@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.global_header{
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
  margin-left: 0.5rem;
  text-decoration: none;
}
.navbar-brand:hover{
  text-decoration: none;
}



.nav-custom {
  background-color: #fff9c4;
  font-family: 'Poppins', sans-serif;
  padding: 0 1.5rem;
}

.navbar-brand img {
  max-width: 150px;
  width: 100%;
}

.burger-menu {
  color: #000000;
}

.nav-link {
  font-weight: 600;
  color: #000000;
  padding: 0.75rem 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #555555;
  text-decoration: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown > .dropdown-menu {
  background-color: #fff;
  border: none;
  border-radius: 8px;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #333333;
}

.nav-item-lg {
  list-style-type: none;
}

.nav-btn {
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.nav-btn-outline-primary {
  color: #ffa600;
  border: 2px solid #ffa600;
  font-weight: 600;
  font-size: 0.875rem; /* Smaller font size */
  padding: 0.3rem 0.8rem; /* Reduced padding */
  border-radius: 1rem; /* Rounded corners */
  text-decoration: none;
}

.nav-btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
  border: 2px solid #007bff;
}

.nav-btn-primary {
  background-color: #ffa600;
  color: #fff;
  border: 2px solid #ffa600;
  font-weight: 600;
  font-size: 0.875rem; /* Smaller font size */
  padding: 0.3rem 0.8rem; /* Reduced padding */
  border-radius: 1rem; /* Rounded corners */
  text-decoration: none;
}

.nav-btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

@media (min-width: 992px) {
  .dropdown > .dropdown-menu {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    display: block;
    transition: all 0.3s ease-in-out;
  }

  .dropdown:hover > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    padding: 10px 0;
  }
}
}