.global_overview_section {
  * {
    font-family: montserrat;
  }
  .overviewcontainer {
    width: 100vw;
    background: #182327;
    padding:30px;
  }
  .section-padding {
    padding: 100px 0;
  }
  .about-text {
    color: aliceblue;
  }
}

/* Mobile responsiveness */
