.global_privacy_policy{
.privacy-container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  header h1 {
    font-size: 3rem;
    color: #2980b9;
    margin-bottom: 20px;
  }
  
  .privacy-content h2 {
    font-size: 2rem;
    margin-top: 20px;
    color: #2c3e50;
    font-weight: bold;
  }
  
  .privacy-content p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #7f8c8d;
  }
  
  .privacy-content ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 20px;
  }
  
  .privacy-content ul li {
    background: url('https://upload.wikimedia.org/wikipedia/commons/7/75/Checkmark.svg') no-repeat left center;
    padding-left: 30px;
    font-size: 1.1rem;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  .privacy-content a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .privacy-content a:hover {
    color: #2980b9;
  }
  
  
  @media (max-width: 768px) {
    .privacy-container {
      padding: 20px;
    }
  
    header h1 {
      font-size: 2.5rem;
    }
  
    .privacy-content h2 {
      font-size: 1.5rem;
    }
  
    .privacy-content p, .privacy-content ul li {
      font-size: 1rem;
    }
  }
}